<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--Navbar-->
    <nav class="pl-5 pr-5 navbar navbar-expand-lg navbar-dark primary-color sticky-top">

        <!-- Navbar brand -->
        <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">Jowiye Photo Gallery</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                {% for location_item in locations %}
                <li class="text-white nav-item">
                    <a class="nav-link" href="/location/{{location_item.location}}">{{ location_item.location }}</a>
                </li>
                {% endfor %}
                </li>
            </ul>

            <!-- Links -->

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
            
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search category" name="category">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="search"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            
            </form>
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
</body>
</html>