<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--Navbar-->
    <nav class="pl-5 pr-5 navbar navbar-expand-lg navbar-dark danger-color sticky-top">

        <!-- Navbar brand -->
        <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">Jowiye Photo Gallery</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                {% for location_item in locations %}
                <li class="text-white nav-item">
                    <a class="nav-link" href="/location/{{location_item.location}}">{{ location_item.location }}</a>
                </li>
                {% endfor %}
                </li>
            </ul>

            <!-- Links -->
            <form class="navbar-form" action="{% url 'search_results' %}">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search Categories" aria-label="Search"
                        name="keyword">

                    <div class="input-group-btn">
                        <button class="btn btn-success" type="search"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            <span class="lhkctf" aria-label="Search by voice"><svg class="AWbbyf" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="#4285F4" d="M12 15c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v7c0 1.66 1.34 3 3 3z">
                    </path>
                    <path fill="#34A853" d="M11 18.92h2V22h-2z"></path>
                    <path fill="#F4B400" d="M7 12H5c0 1.93.78 3.68 2.05 4.95l1.41-1.41C7.56 14.63 7 13.38 7 12z"></path>
                    <path fill="#EA4335"
                        d="M12 17c-1.38 0-2.63-.56-3.54-1.47l-1.41 1.41C8.32 18.21 10.07 19 12.01 19c3.87 0 6.98-3.14 6.98-7h-2c0 2.76-2.23 5-4.99 5z">
                    </path>
                </svg></span>
                
            </form>
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
</body>

</html>